project_base/package-lock.json
/seccion II/07 GoogleKeep/node_modules
seccion II/08 GoogleKeep/package-lock.json
seccion II/08 GoogleKeep/backend/package-lock.json
seccion II/07 GoogleKeep/frontend/package-lock.json
/seccion II/08 GoogleKeep/node_modules
seccion II/07 GoogleKeep/frontend/package-lock.json
/seccion II/09 GoogleKeep/googlekeep.test/bin
/seccion II/09 GoogleKeep/googlekeep.test/obj
/seccion II/09 GoogleKeep/googlekeep/.vs
/seccion II/09 GoogleKeep/googlekeep/obj
/seccion II/09 GoogleKeep/googlekeep/bin
/seccion II/09 GoogleKeep/googlekeep.WebApp/.vs
/seccion II/09 GoogleKeep/googlekeep.WebApp/bin
/seccion II/09 GoogleKeep/googlekeep.WebApp/obj
